<style>
body{
  background:#1E2023;
  };
</style>
<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="img/xfavicon.png.pagespeed.ic.3uxt66FeIS.webp" type="image/png">
<title>Greesy</title>
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://vcodes.xyz/css/bootstrap.css">

<link rel="stylesheet" href="https://preview.colorlib.com/theme/breed2/A.css,,_bootstrap.css+vendors,,_linericon,,_style.css+css,,_themify-icons.css+vendors,,_owl-carousel,,_owl.theme.default.min.css+vendors,,_fontawesome,,_css,,_all.min.css+vendors,,_owl-carousel,,_owl.carousel.min.css+vendors,,_nice-select,,_css,,_nice-select.css,Mcc.7ul7OhvBo1.css.pagespeed.cf.QkVPtK8UWA.css" />
<script src="https://kit.fontawesome.com/99d3413bca.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://preview.colorlib.com/theme/breed2/css/A.style.css.pagespeed.cf.ywWk-8EsFw.css">
</head>
<body>

<header class="header_area">
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">

<a class="navbar-brand logo_h" href="index.html"><p>Greesy <span class="badge badge-primary"><i class="fad fa-check"></i> Bot</span></p></a>
<a class="navbar-brand logo_inner_page" href="index.html"><img src="img/xlogo2.png.pagespeed.ic.VABfFJ_hK0.webp" alt=""></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav">
<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
<li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
<li class="nav-item submenu dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
<ul class="dropdown-menu">
<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
<li class="nav-item"><a class="nav-link" href="portfolio-details.html">Portfolio Details</a></li>
</ul>
</li>
<li class="nav-item submenu dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
<ul class="dropdown-menu">
<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
</ul>
</li>
<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
</ul>
</div>
</div>
</nav>
</div>
</header>


<section class="home_banner_area">
<div class="banner_inner">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-lg-6">
<div class="banner_content">
<h3>Hey There !</h3>
<h1 class="text-uppercase">Greesy</h1>
<h5 class="text-uppercase">Best Utility Bot</h5>
<div class="social_icons my-5">
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-skype"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-dribbble"></i></a>
<a href="#"><i class="fa fa-github"></i></a>
</div>
<a class="primary_btn" href="#"><span>See My Work</span></a>
</div>
</div>
<div class="col-lg-4">
<div class="home_right_img">
<img class="img-fluid" src="img/banner/xhome-right.png.pagespeed.ic.MjKkmtHpYu.webp" alt="">
</div>
</div>
</div>
</div>
</div>
</section>


<section class="statistics_area">
<div class="container">
<div class="row justify-content-lg-start justify-content-center">
<div class="col-lg-2 col-md-3">
<div class="statistics_item">
<h3><span class="counter">15</span>k+</h3>
<p>Happy Customer</p>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="statistics_item">
<h3><span class="counter">12</span>k+</h3>
<p>Ticket Solved</p>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="statistics_item">
<h3><span class="counter">9</span>/10</h3>
<p>Average Rating</p>
</div>
</div>
</div>
</div>
</section>


<section class="about_area section_gap">
<div class="container">
<div class="row justify-content-start align-items-center">
<div class="col-lg-5">
<div class="about_img">
<img class="" src="img/xabout-us.png.pagespeed.ic.DFpWXkedGe.webp" alt="">
</div>
</div>
<div class="offset-lg-1 col-lg-5">
<div class="main_title text-left">
<p class="top_text">About Greesy <span></span></p>
<h2>
Greesy was founded in 2021 and is one of the best bots in Discord</h2>
<p>
Greesy World's Best Boat</p>
<a class="primary_btn" href="#"><span>İnvite Greesy</span></a>
</div>
</div>
</div>
</div>
</section>


<section class="services_area">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="main_title">
<p class="top_text">Our Commands <span></span></p>
<h2>What Service We <br>
Offer For You </h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
<div class="service_item">
<img src="0img/services/xs1.png.pagespeed.ic.lbt6SEMUs8.webp" alt="">
<h4>Custom Bot</h4>
<p>Your Own Bot Connected to Greesyin Infrastructure</p>
<a href="/docs/custom-bot" class="primary_btn2 mt-35">Learn More</a>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
<div class="service_item">
<img src="img/services/xs2.png.pagespeed.ic.9QY7x-sNwX.webp" alt="">
<h4>UX/UI Design</h4>
<p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
brought fish forth</p>
<a href="#" class="primary_btn2 mt-35">Learn More</a>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
<div class="service_item">
<img src="img/services/xs3.png.pagespeed.ic.Zk_2AqDKj6.webp" alt="">
<h4>WP Developing</h4>
<p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
brought fish forth</p>
<a href="#" class="primary_btn2 mt-35">Learn More</a>
</div>
</div>
</div>
</div>
</section>


<section class="testimonial_area">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="main_title">
<p class="top_text">Our Tesitmonial <span></span></p>
<h2>Honourable Client Says <br>
About Me </h2>
</div>
</div>
</div>
<div class="owl-carousel owl-theme testimonial-slider ">
<div class="testimonial-item">
<div class="row">
<div class="col-lg-6">
<div class="testi-img mb-4 mb-lg-0">
<img src="img/testimonials/xtestimonial1.png.pagespeed.ic.EEPFvr2prU.webp" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="testi-right">
<h4>Roser Henrique</h4>
<p><small>Project Manager, Apple</small></p>
<p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
<ul class="star_rating mt-4">
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li class="disable"><span><i class="fas fa-star"></i></span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="testimonial-item">
<div class="row">
<div class="col-lg-6">
<div class="testi-img mb-4 mb-lg-0">
<img src="img/testimonials/xtestimonial1.png.pagespeed.ic.EEPFvr2prU.webp" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="testi-right">
<h4>Roser Henrique</h4>
<p><small>Project Manager, Apple</small></p>
<p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
<ul class="star_rating mt-3">
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li class="disable"><span><i class="fas fa-star"></i></span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="testimonial-item">
<div class="row">
<div class="col-lg-6">
<div class="testi-img mb-4 mb-lg-0">
<img src="img/testimonials/xtestimonial1.png.pagespeed.ic.EEPFvr2prU.webp" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="testi-right">
<h4>Roser Henrique</h4>
<p><small>Project Manager, Apple</small></p>
<p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
<ul class="star_rating mt-3">
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li><span><i class="fas fa-star"></i></span></li>
<li class="disable"><span><i class="fas fa-star"></i></span></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="portfolio_area" id="portfolio">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="main_title">
<p class="top_text">Our Portfolio <span></span></p>
<h2>Check Our Recent <br>
Client Work </h2>
</div>
</div>
</div>
<div class="filters portfolio-filter">
<ul>
<li class="active" data-filter="*">all</li>
<li data-filter=".popular">popular</li>
<li data-filter=".latest"> latest</li>
<li data-filter=".following">following</li>
<li data-filter=".upcoming">upcoming</li>
</ul>
</div>
<div class="filters-content">
<div class="row portfolio-grid">
<div class="grid-sizer col-md-3 col-lg-3"></div>
<div class="col-lg-6 col-md-6 all following">
<div class="single_portfolio">
<img class="img-fluid w-100" src="img/portfolio/xp1.jpg.pagespeed.ic.n8LCWg02Xz.webp" alt="">
<div class="overlay"></div>
<div class="short_info">
<h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
<p>Art, Illustration</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 all latest popular upcoming">
<div class="single_portfolio">
<img class="img-fluid w-100" src="img/portfolio/xp4.jpg.pagespeed.ic.TZI6lVONfl.webp" alt="">
<div class="overlay"></div>
<div class="short_info">
<h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
<p>Art, Illustration</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 all latest following">
<div class="single_portfolio">
<img class="img-fluid w-100" src="img/portfolio/xp2.jpg.pagespeed.ic.5xfHv2RuYV.webp" alt="">
<div class="overlay"></div>
<div class="short_info">
<h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
<p>Art, Illustration</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 all latest upcoming">
<div class="single_portfolio">
<img class="img-fluid w-100" src="img/portfolio/xp3.jpg.pagespeed.ic.BsPG2xuxAw.webp" alt="">
<div class="overlay"></div>
<div class="short_info">
<h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
<p>Art, Illustration</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 all popular">
<div class="single_portfolio">
<img class="img-fluid w-100" src="img/portfolio/xp6.jpg.pagespeed.ic.l0zPld-zmD.webp" alt="">
<div class="overlay"></div>
<div class="short_info">
<h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
<p>Art, Illustration</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 all popular latest following">
<div class="single_portfolio">
<script type="text/javascript" style="display:none">
//<![CDATA[
window.__mirage2 = {petok:"2f77e2f2618ef412081658aa8bcedb042d3ae652-1626880399-1800"};
//]]>
</script>
<script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js"></script>
<img class="img-fluid w-100" data-cfsrc="img/portfolio/p5.jpg" alt="" style="display:none;visibility:hidden;"><noscript><img class="img-fluid w-100" src="img/portfolio/p5.jpg" alt=""></noscript>
<div class="overlay"></div>
<div class="short_info">
<h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
<p>Art, Illustration</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="blog-area section-gap">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="main_title">
<p class="top_text">Our blog <span></span></p>
<h2>Latest Story From <br>
Our Blog </h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="single-blog">
<div class="thumb">
<img class="img-fluid" data-cfsrc="img/b1.jpg" alt="" style="display:none;visibility:hidden;"><noscript><img class="img-fluid" src="img/b1.jpg" alt=""></noscript>
</div>
<div class="short_details">
<div class="meta-top d-flex">
<a href="#"><i class="ti-user"></i> Admin post</a>
<a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
</div>
<a class="d-block" href="single-blog.html">
<h4>Shall every fourth lesser have...</h4>
</a>
<div class="text-wrap">
<p>
Have whose a two night earth she set you creeping replenish place whales move Forth first him seed green.
</p>
</div>
<a href="#" class="primary_btn2">Learn More</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-blog">
<div class="thumb">
<img class="img-fluid" data-cfsrc="img/b2.jpg" alt="" style="display:none;visibility:hidden;"><noscript><img class="img-fluid" src="img/b2.jpg" alt=""></noscript>
</div>
<div class="short_details">
<div class="meta-top d-flex">
<a href="#"><i class="ti-user"></i> Admin post</a>
<a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
</div>
<a class="d-block" href="single-blog.html">
<h4>Shall every fourth lesser have...</h4>
</a>
<div class="text-wrap">
<p>
Have whose a two night earth she set you creeping replenish place whales move Forth first him seed green.
</p>
</div>
<a href="#" class="primary_btn2">Learn More</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-blog">
<div class="thumb">
<img class="img-fluid" data-cfsrc="img/b3.jpg" alt="" style="display:none;visibility:hidden;"><noscript><img class="img-fluid" src="img/b3.jpg" alt=""></noscript>
</div>
<div class="short_details">
<div class="meta-top d-flex">
<a href="#"><i class="ti-user"></i> Admin post</a>
<a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
</div>
<a class="d-block" href="single-blog.html">
<h4>Shall every fourth lesser have...</h4>
</a>
<div class="text-wrap">
<p>
Have whose a two night earth she set you creeping replenish place whales move Forth first him seed green.
</p>
</div>
<a href="#" class="primary_btn2">Learn More</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="brands-area section_gap_bottom">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12">
<div class="owl-carousel brand-carousel">

<div class="single-brand-item d-table">
<div class="d-table-cell">
<img data-cfsrc="img/brands/logo1.png" alt="" style="display:none;visibility:hidden;"><noscript><img src="img/brands/logo1.png" alt=""></noscript>
</div>
</div>

<div class="single-brand-item d-table">
<div class="d-table-cell">
<img data-cfsrc="img/brands/logo2.png" alt="" style="display:none;visibility:hidden;"><noscript><img src="img/brands/logo2.png" alt=""></noscript>
</div>
</div>

<div class="single-brand-item d-table">
<div class="d-table-cell">
<img data-cfsrc="img/brands/logo3.png" alt="" style="display:none;visibility:hidden;"><noscript><img src="img/brands/logo3.png" alt=""></noscript>
</div>
</div>

<div class="single-brand-item d-table">
<div class="d-table-cell">
<img data-cfsrc="img/brands/logo4.png" alt="" style="display:none;visibility:hidden;"><noscript><img src="img/brands/logo4.png" alt=""></noscript>
</div>
</div>

<div class="single-brand-item d-table">
<div class="d-table-cell">
<img data-cfsrc="img/brands/logo5.png" alt="" style="display:none;visibility:hidden;"><noscript><img src="img/brands/logo5.png" alt=""></noscript>
</div>
</div>

<div class="single-brand-item d-table">
<div class="d-table-cell">
<img data-cfsrc="img/brands/logo3.png" alt="" style="display:none;visibility:hidden;"><noscript><img src="img/brands/logo3.png" alt=""></noscript>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<footer class="footer_area">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12">
<div class="footer_top flex-column">
<div class="footer_logo">
<a href="#">
<img src="img/xlogo2.png.pagespeed.ic.VABfFJ_hK0.webp" alt="">
</a>
<div class="d-lg-block d-none">
<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
<div class="collapse navbar-collapse offset">
<ul class="nav navbar-nav menu_nav mx-auto">
<li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
<li class="nav-item"><a class="nav-link text-white" href="about.html">About</a></li>
<li class="nav-item"><a class="nav-link text-white" href="portfolio.html">Portfolio</a></li>
<li class="nav-item"><a class="nav-link text-white" href="blog.html">BLog</a></li>
<li class="nav-item"><a class="nav-link text-white" href="services.html">Services </a></li>
</ul>
</div>
</nav>
</div>
</div>
<div class="footer_social mt-lg-0 mt-4">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-skype"></i></a>
<a href="#"><i class="fab fa-pinterest-p"></i></a>
</div>
</div>
</div>
</div>
<div class="row footer_bottom justify-content-center">
<p class="col-lg-8 col-sm-12 footer-text">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</p>
</div>
</div>
</footer>



<script src="https://preview.colorlib.com/theme/breed2/js/jquery-3.2.1.min.js"></script>
<script src="https://preview.colorlib.com/theme/breed2/js,_popper.js+js,_bootstrap.min.js+js,_stellar.js+vendors,_isotope,_imagesloaded.pkgd.min.js.pagespeed.jc.jCQnOAvUI8.js"></script><script>eval(mod_pagespeed_01r0KgRhLI);</script>
<script>eval(mod_pagespeed_Vbag8fTS3E);</script>
<script>eval(mod_pagespeed_DKyPFhcXrg);</script>
<script>eval(mod_pagespeed_fXh7pyGB1W);</script>
<script src="https://preview.colorlib.com/theme/breed2/vendors,_isotope,_isotope-min.js+vendors,_owl-carousel,_owl.carousel.min.js+js,_jquery.ajaxchimp.min.js+js,_mail-script.js.pagespeed.jc.EwMav9H6lc.js"></script><script>eval(mod_pagespeed_fGa7phLLDK);</script>
<script>eval(mod_pagespeed_aDsR5VxdNO);</script>
<script>eval(mod_pagespeed_jKk4b0I09F);</script>
<script>eval(mod_pagespeed_k1QyoY5CgL);</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="https://preview.colorlib.com/theme/breed2/js/gmaps.min.js"></script>
<script src="https://preview.colorlib.com/theme/breed2/js/theme.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"67255f567d954e31","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.7.0","si":10}'></script>
</body>
</html>