<%- include('./static/header') %>

<br>
<div class="jumbotron container-greesy">
Write Your PromoCode
  <br>
  <br>
  <form method="POST">
 <input name="promo" class="form-control" required></input> 
    <br>
    <br>
    <center>
    <button type="submit" class="btn btn-success"><i class="fad fa-gifts"></i> Use </button>
    </center>
  </form>
</div>
<br>
<br>

<div class="jumbotron p-0">
  <br>
  <center>
<h1>Promo Codes You Used</h1>
    </center>
  <br>
  <br>
  <i class="fad fa-database"></i> Database Error : Not Found 
  <br>
  <br>
  <br>
</div>
