<%- include('./static/header') %>

<br>
<div class="jumbotron container-greesy">
Write Your PromoCode
  <br>
  <br>
  <form method="POST">
  <span><i class="fad fa-gift"></i>  <input name="promo" class="form-control" required></input> </span
    <br>
    <center>
    <button type="submit" class="btn btn-success"><i class="fad fa-gifts"></i> Use </button>
    </center>
  </form>
</div>
