<%- include('./static/header') %>

<br>
<div class="jumbotron container-greesy">
Write Your PromoCode
  <br>
  <br>
  <form method="POST">
  <span><input name="promo">
  </form>
</div>


<%- include('./static/footer') %>