<%- include('./static/header') %>

<div class="jumbotron bg-indigo">
 <center> <img src="<%=avatar%>" alt="Greesy | <%=ismi%>#<%=disc%>" /></center>
  <br>
  <center>
<% if(Mod){ %>
  
  <i class="fad fa-wrench"></i>
  
  <%}%>
</center>

</div>
