  <meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" href="main1.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://unpkg.com/react@latest/umd/react.development.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@latest/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@material-ui/core@next/umd/material-ui.development.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/babel-standalone@latest/babel.min.js" crossorigin="anonymous"></script>
    <!-- Fonts to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Icons to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<meta name="theme-color" content="#6d7fcc">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap'); * { margin: 0; padding: 0; box-sizing: border-box;} html { font-size: 62.5%; font-family: 'Roboto', sans-serif;} li { list-style: none;} a { text-decoration: none;} .header{ border-bottom: 1px solid #E2E8F0;} .navbar { display: flex; justify-content: space-between; align-items: center; padding: 1rem 1.5rem;} .hamburger { display: none;} .bar { display: block; width: 25px; height: 3px; margin: 5px auto; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; background-color: #101010;} .nav-menu { display: flex; justify-content: space-between; align-items: center;} .nav-item { margin-left: 5rem;} .nav-link{ font-size: 1.6rem; font-weight: 400; color: #475569;} .nav-link:hover{ color: #482ff7;} .nav-logo { font-size: 2.1rem; font-weight: 500; color: #482ff7;} @media only screen and (max-width: 768px) { .nav-menu { position: fixed; left: -100%; top: 5rem; flex-direction: column; background-color: #fff; width: 100%; border-radius: 10px; text-align: center; transition: 0.3s; box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); } .nav-menu.active { left: 0; } .nav-item { margin: 2.5rem 0; } .hamburger { display: block; cursor: pointer; } .hamburger.active .bar:nth-child(2) { opacity: 0; } .hamburger.active .bar:nth-child(1) { -webkit-transform: translateY(8px) rotate(45deg); transform: translateY(8px) rotate(45deg); } .hamburger.active .bar:nth-child(3) { -webkit-transform: translateY(-8px) rotate(-45deg); transform: translateY(-8px) rotate(-45deg); }}
</style>
<body style="overflow: auto;"> 		<style type="text/css">
     @media all and (min-width: 992px) { .navbar-dark .navbar-nav .nav-item { 
     margin: .375rem .125rem;
     } 
     }
  
  body{
    background-color:#6d7fcc;
    }
    </style>
  <!--  <header class="header">-->
        <nav class="navbar">
            <a href="#" class="nav-logo">Greesy</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/dash/<%= id %>/yonet/autorole" class="nav-link">Autorole</a>
                </li>
                <li class="nav-item">
                    <a href="/dash/<%= id %>/yonet/embed" class="nav-link">[PREMIUM] Embeds Color</a>
                </li>
                <li class="nav-item">
                    <a href="/dash/<%= id %>/yonet/plugins" class="nav-link">Plugins</a>
                </li>
              <li class="nav-item" >
                <a href="/dash/<%= id %>/yonet/counter" class="nav-link" > Counter</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
   <!-- </header>-->
  <br>
  <br>
  <br>