<%- include('./static/header') %>

        <main class="h-full overflow-y-auto">
           <br>
          <br>
         
          <p style="color:green; text-align:center;">Add Annoucument</p>
          <br>
          <br>
          <form class="w-full max-w-sm jumbotron" method="POST">
  <div class="flex items-center border-b border-teal-500 py-2">
    <input name="duyurutext" class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" type="text" placeholder="Nego" aria-label="Full name">
    <!--<button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
      Sign Up
    </button>-->
    <!--<button class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="submit">
      Create
    </button>-->
  </div>
            <br>
          <br>
          
         <!-- <button class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="submit">
      Create
    </button>  -->
            <center>
            <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
      Share
    </button>
              </center>
</form>
          <br>
          
         </main>
      </div>
    </div>